body,html {
    margin: 0;
    padding: 0;
    background-color: #12181B;
}
* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 15vw;
    background-image: black;
    color: white;
}

.controls {
    margin-top: 16px;
}

.button {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}

.alarm-set {
    background-color: #498AFB;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 5px;
}

.alarm-clear {
    background-color: #FF3860;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 5px;
}

#input-date {
    font-family: 'Kumbh Sans', sans-serif;
    text-transform: uppercase;
}